/*.ui-dialog {
	z-index: 2147483647 !important;
}
.ui-widget-overlay {
	z-index: 2147483646 !important;
}*/

body {
	text-align: center;
	font-family:'Open Sans Condensed', sans-serif;
	font-size: 50px;
}
h1 {
	margin-top:10px;
}
.btn {
	background: 0;
	border: 1px #000 solid;
	border-radius: 10px;
	padding: 5px 15px;
	cursor: pointer;
}
.btn:hover {
	background-color: #428bca;
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('chrome-extension://__MSG_@@extension_id__/resources/Open Sans Condensed.woff') format('woff');
}